<html>
<!--displays the flash message after redirect -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        {% endwith %}    


    <h1>Scouting Report Creation Portal</h1>
    <body>
        <h3 style="font-weight: normal;">Instructions:</h3> <!--used some css for cleaness-->
        <h4 style="font-weight: normal;">All info below is for the player's team with the exception of scout name</h4>
        <form action="{{url_for('createReport')}}" method = "POST">
            Scout Name:
            <input type = "text" name ="Name"/></br>
        
            Players Name :
            <select name = "player">
                <option value="" disabled selected>Select player</option>
                {% for player in players %}
                    <option value="{{ player[0] }} {{ player[1] }}">
                        {{ player[0] }} {{ player[1] }}
                    </option>
                {% endfor %}
            </select><br><br>
            Year of Report:
            <input number = "text" name = "Year"/><br>
            <input type = "submit" value = "Next"/> <!--go to putInfo.html-->
        </form>
        <a href="/">Back to Home</a>
    </body>
</html>