<html>
    <body>
          <!-- This block displays the flash message after redirect -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <h1> MLB Scouting App</h1>
        <h3><a href='/players'>Players</a></h3>
        <h3><a href='/teams'>Teams</a></h3>
        <h4><a href='/reports'>Scouting Reports</a></h3>
        <h4><a href='/search'>Search Reports</a></h4>
        <h4><a href='/newScout'>Scout Sign Up</a></h3>
        <h4><a href ='/addReport'>Add Scouting Report</a></h4>
        <h4><a href = '/updateReport'> Update Report</a></h4>
        <h4><a href = '/deleteReport'> Delete Report</a></h4>
    </body>
</html>